<?xml version="1.0" encoding="utf-8"?>
<!--
  Perfil de publicacion del sistema del hotel.

  Genera, en la carpeta "Publicado" (al lado del proyecto), la version lista
  para instalar en el computador del hotel: solo lo necesario para funcionar,
  sin codigo fuente.

  Desde Visual Studio:  clic derecho en ProyectoHotel -> Publicar
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <publishUrl>..\Publicado</publishUrl>
    <DeleteExistingFiles>True</DeleteExistingFiles>
    <PrecompileBeforePublish>False</PrecompileBeforePublish>
  </PropertyGroup>
</Project>
